<div class="container">
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item border-right" role="presentation">
      <a class="tab-underlined <%= "active" if params[:tab].nil? || params[:tab] ==  "bookings" %>" id="home-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="home" aria-selected="true">My bookings</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="tab-underlined <%= "active" if params[:tab] ==  "services" %>" id="profile-tab" data-toggle="tab" href="#services" role="tab" aria-controls="profile" aria-selected="false">My offers</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="tab-underlined <%= "active" if params[:tab] ==  "My_booked_services" %>" id="converstion-tab" data-toggle="tab" href="#My_booked_services" role="tab" aria-controls="converstion" aria-selected="false">Booked offers</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="tab-underlined <%= "active" if params[:tab] ==  "completed" %>" id="converstion-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="converstion" aria-selected="false">Completed services</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 <%= "show active" if params[:tab].nil? || params[:tab] ==  "bookings" %>" id="bookings" role="tabpanel" aria-labelledby="home-tab">
      <%= render "bookings/index_user" %>
    </div>
    <div class="tab-pane fade py-3 <%= "show active" if params[:tab] ==  "services" %>" id="services" role="tabpanel" aria-labelledby="profile-tab">
      <%= render "bookings/index_my_services" %>
    </div>
    <div class="tab-pane fade py-3 <%= "show active" if params[:tab] ==  "My_booked_services" %>" id="My_booked_services" role="tabpanel" aria-labelledby="converstion-tab">
      <%= render "bookings/index_provider" %>
    </div>
    <div class="tab-pane fade py-3 <%= "show active" if params[:tab] ==  "completed" %>" id="completed" role="tabpanel" aria-labelledby="converstion-tab">
      <%= render "bookings/index_completed" %>
    </div>
  </div>
</div>
