<div class="container instructions">
  <h2 style="text-align: center; margin-top: 2em;">IT IS EASY AS...</h2>
  <div class="instruction-container mb-5">
    <div class="instruction-container-text">
      <%= image_tag "form-image.png" %>
      <p>Step 1.</p>
      <p>Fill out the 'new offer' form</p>
    </div>
    <div class="instruction-container-text">
      <%= image_tag "clock-image.png" %>
      <p>Step 2.</p>
      <p>Wait for someone to book your offer</p>
    </div>
    <div class="instruction-container-text">
      <%= image_tag "cash-image.png", style: "width: 200px;" %>
      <p>Step 3.</p>
      <p>Provide the service and get paid!</p>
    </div>
  </div>
  <div class="position-of-down">
    <%= image_tag 'down-arrow.png', class: "down-arrow-icon mb-5" %>
  </div>
</div>
<div class="container offer-container  my-5">
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-lg-6">
      <img style="height: 450px;"src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=786&q=80" alt="">
    </div>
    <div class="col col-sm-12 col-lg-6">
      <h1 style="offer-container-h1">Start Now!</h1>
      <%= simple_form_for @offer do |f|%>
        <%= f.input :name %>
        <%= f.input :detail, as: :text %>
        <%= f.input :price %>
        <%= f.submit "POST", class:"btn btn-warning px-5", style: "border-radius: 20px; margin-left: 35%;" %>
      <% end %>
    </div>
  </div>
</div>
