<div class="container justify-content-center">
  <div class="row justify-content-center">
    <div class="col col-8 mt-5 mb-5">
      <div class="card">
        <div class="card-header" style="background-color: #e3cdb0">
          <h2><%= @offer.name %></h2>
        </div>
        <div class="card-body" style= "background-image: url(<%= asset_path("dynamic-style.png")%>);">
          <h5 class="card-title mt-4 mb-3"><strong>DETAILS</strong></h5>
          <p class="card-text"><%= @offer.detail %></p>
          <h4 class="mb-4">Price: <%= number_with_delimiter(@offer.price, delimiter: ',') %>¥</h4>
          <div>
            <h5 class="mt-4"><strong><u>OUR REVIEWS</u></strong></h5>
            <%# <h5>Stars: <%= @offer.reviews.stars.sum/@offer.reviews.count %> </h5>
            <% @offer.reviews.each do |review| %>
              <h5 class="mt-4 mb-2"><%= review.content %></h5>
              <% (review.stars).times do%>
                <i class="fa fa-star mb-4" aria-hidden="true"></i>
              <%end%>
            <% end %>
        </div>
      </div>

      <%# <% @offer.reviews.stars.to_i.times do  %>
        <%# <span class="glyphicon glyphicon-star"></span> %>
      <%# <% end %>



    </div>
  </div>
  <div class="col col-4" >
    <div class="mt-5 mb-3">
      <%= render "bookings/form" %>
    </div>
    <div class="mb-5">
      <%= render "reviews/form" %>
    </div>
  </div>
</div>
</div>
